<form method="POST" action="/login">
    <div>
        <input name="username" placeholder="Username">
    </div>
    <div>
        <input name="password" placeholder="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>