<form method="POST" action="/signup">
    <div>
        <input name="username" placeholder="Username">
    </div>
    <div>
        <input name="fullname" placeholder="fullname">
    </div>
    <div>
        <input name="email" placeholder="email">
    </div>
    <div>
        <input name="password" placeholder="password">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>