<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="nodeJS Template">
<meta name="author" content="Luciano Resende">

<!-- Bootstrap Core CSS -->
<link href="../../public/lib/bootstrao/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="../../public/lib/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="../../dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../../public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
